{% extends "base.html" %} {% block main %}
<div class="col-md-6 col-md-offset-3" style="text-align:center">
    <h2>Please check your feeling:</h2>
    <h3>If this is the first video (the 25-second video), please click the button "Is The 25-second Clip".</h3> 
    <h3>If this is not the first video, please select your feeling to this clip, "important" or "unimportant" in terms of the contribution to your watching experience of the 25-second video. If a clip is regarded as "important", you care more about the video quality of this clip than other "unimportant" clips. </h3>
    <h3>Progress: {{count}} / {{num_vids}}</h3>
</div>

<div class="col-md-6 col-md-offset-3">
    <form action= "next" method="POST" style="text-align:center">
        <div class="btn-group-vertical" data-toggle="buttons" id="Inputs">
            <label class="btn btn-default"><input id="Is A Important Clip" name="sentiment" required="" type="radio" value="1" /><h4>Is A Important Clip</h4>
            </label> 
            <label class="btn btn-default"><input id="Not A Important Clip" name="sentiment" required="" type="radio" value="0" /><h4>Not A Important Clip</h4>
            </label>
            <label class="btn btn-default"><input id="Is The 25-second Clip" name="sentiment" required="" type="radio" value="2" /><h4>Is The 25-second Clip</h4>
            </label> 
        </div>
        </br></br>
        <button type="submit" class="btn btn-primary" style="text-align:center; font-size:20px">Watch next video</button>
    </form>
</div>

<div class="col-md-6 col-md-offset-3">
    <form action="back2video", method="POST", style="text-align:center">
    </br>
        <button type="submit" class="btn btn-primary">Watch again</button>
    </form>
</div>
</br>
<!-- Open internal javascript -->
<script>
        $(document).ready(function() {
            // highlight selected category
            var inputs = $("#Inputs input:radio");
            inputs.change(function(){
              inputs.parent().removeClass("btn-success");
              inputs.parent().addClass("btn-default");
              if($(this).is(":checked")){
                $(this).parent().removeClass("btn-default");
                $(this).parent().addClass("btn-success");
              }else{
                $(this).parent().removeClass("btn-success");
                $(this).parent().addClass("btn-default");
              }
            });
            // end highlight
          });
</script>
<!-- Close internal javascript-->

{% endblock %}
