{% extends "base.html" %} {% block main %}
<div class="container">
    <div class="row",style="margin-bottom: 30px">
        <div class="col-md-6 col-md-offset-3", style="text-align: justify;">
            <h2>Instructions for the test</h2>
                <p>
                    In this test, you will watch a video (~25 seconds) at first.
                </p>
                <p> 
                    Then, this video will be divided to 5 clips, and you will watch each of them.
                </p>
                <p>
                    After watching each clip, your job is to label the clip's "importance" in terms of your watching the 25-second long video experience. If a clip is regarded as "important", it means you pay more attention on this clip, <b>AND</b> you really care more about the video quality of this clip compared to those "unimportant" clips.  
                </p>
                <p>
                    <b>Please watch all the videos in its entirety and answer each question completely and honestly. You may not be paid if these conditions are not met, for example, give random feedback.</b>
                </p>
        </div>
        <div class="col-md-6 col-md-offset-3", style="text-align: justify;">
        <form action="start", method="POST">
            <h2>Please take the simple survey before the test.</h2>
            <p>We use the results to look for trends in responses.</p>
            <div class="form group">
                <label>Your MTurk Worker ID:(you can find this on your Dashboard or in the upper left corner of the
                    <a href="https://worker.mturk.com" target="_blank">new Worker website</a>)</label>
                <input name="MTurkID" type="text" class="form-control" id="MTurkID" placeholder="Enter MTurkID">
            </div>
            <div class="form-group">
                <label for="device">Device you use most for video streaming:</label>
                <select name="device" class="form-control" id="device">
                    <option value="_null" disabled selected></option> 
                    <option>Desktop</option>
                    <option>Laptop</option>
                    <option>Tablet</option>
                    <option>Smart phone</option>
                    <option>Other device</option>
                </select>
            </div>
            <div class="form-group">
                <label for="age">Your age group:</label>
                <select name="age" class="form-control" id="age">
                    <option value="_null" disabled selected></option> 
                    <option>18 - 24</option>
                    <option>25 - 31</option>
                    <option>32 - 38</option>
                    <option>39 - 45</option>
                    <option>46 - 52</option>
                    <option>53 - 59</option>
                    <option>60 and above</option>
                </select>
            </div>
            <div class="form-group">
                <label for="network">Network you use most for video streaming:</label>
                <select name="network" class="form-control" id="network">
                    <option value="_null" disabled selected></option> 
                    <option >WiFi</option>
                    <option>Cable network</option>
                    <option>Cellular network</option>
                    <option>Other</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary" onclick="return checkform()">Start test</button>
        </form>
        </div>
    </div>
</div>


<script>
    function checkform(){
        var flag = true;
        //alert($('[name=device]').val());
        if($('[name=MTurkID]').val() == "") {
            flag = false;
            alert("Please input your MTurk worker ID.");
        }
        else if($('[name=device]').val() == null ||
                $('[name=age]').val() == null ||
                $('[name=network]').val() == null) {
            flag = false;
            alert("Please complete the form.")
        }
        return flag;
    }
</script>


{% endblock %}
